<div class="container">

	<h2 class="text-center m-b20">{{nSrecomend.pagetitle}}</h2>

	<div class="row row-1">

		<div class="col-sm-4">
			<button class="btn btn-3">Какая стоимость<br/>и в какие сроки?</button>
		</div>

		<div class="col-sm-4">
			<button class="btn btn-3">Что входит в разработку фирменного стиля?</button>
		</div>

		<div class="col-sm-4">
			<button class="btn btn-3">Сколько вариантов предоставляется?</button>
		</div>
	</div>

	<h2 class="text-center">... и почему рекомендуют нас?</h2>

	<div class="row row-2">

		<div class="col-sm-4 text-center">
			<div class="item">

				<div><img src="assets/img/recomend/1.svg"/></div>
				<h3>Результат</h3>

				<p>Мы не ограничиваем количество вариантов.</p>
				<p>Мы сосредоточены на поиске идеального варианта.</p>
			</div>
		</div>

		<div class="col-sm-4 text-center">
			<div class="item">

				<div><img src="assets/img/recomend/2.svg"/></div>
				<h3>Дизайн и маркетинг</h3>

				<p>Это не просто красиво, это работает! Команда маркетологов проводит подробный анализ рынка</p>
			</div>
		</div>

		<div class="col-sm-4 text-center">
			<div class="item">
				<div><img src="assets/img/recomend/3.svg"/></div>
				<h3>График и ресурсы</h3>

				<p>Команда дизайнеров и маркетологов работает над проектами <strong>24/7/364</strong></p>
			</div>
		</div>
	</div>
</div>