
<div class="scnContacts">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4 col-xl-6">
        <div class="push60 visible-xs"></div>
        <div class="push82 visible-md"></div>
        <div class="push144 hidden-md-down"></div>
        <div class="row">
          <div class="col-lg-6 col-xl-5">
            <div class="contacts2">
              <h4>Адрес</h4>
              <p class="t-wrap">{{page.description}}</p>
            </div>
            <div class="push48 visible-xs"></div>
            <div class="push36 hidden-md-down"></div>
            <div class="push45 visible-md"></div>
            <div class="contacts2 hidden-md-down">
              <h4>Соц. сети</h4>
              <ul>
                <li><a class="fa fa-instagram" href="https://instagram.com"></a></li>
                <li><a class="fa fa-facebook" href="https://facebook.com"></a></li>
                <li><a class="fa fa-behance" href="https://behance.com"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-xl-6">
            <div class="contacts2">
              <h4>Контакты</h4>
              <p><a href="tel:{{base.phone|setPhone}}">{{base.phone}}</a><br/><a href="tel:{{base.phone2|setPhone}}">{{base.phone2}}</a><br/><a href="mailto:{{base.email}}">{{base.email}}</a></p>
            </div>
            <div class="push45 hidden-md-down"></div>
            <div class="hidden-lg-up">
              <div class="push48"></div>
              <div class="contacts2">
                <h4>Соц. сети</h4>
                <ul>
                  <li><a class="fa fa-instagram" href="https://instagram.com"></a></li>
                  <li><a class="fa fa-facebook" href="https://facebook.com"></a></li>
                  <li><a class="fa fa-behance" href="https://behance.com"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-xl-4">
        <div class="push60 visible-xs"></div>
        <div class="map">
          <iframe src="https://yandex.kz/map-widget/v1/-/CBucmGb2pA"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>