<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Webmaho</title>
  <link rel="shortcut icon" href="favicon.ico?{{ timestamp }}" type="image/x-icon" />
  <link rel="stylesheet" href="assets/css/style.min.css?{{ timestamp }}" />
</head>

<body>
  <header class="app-header">
    <div class="app-header__container container">
      <div class="logo">
        <img class="logo__img app-header__logo-img" src="assets/img/logo.svg" alt="Logo" width="95px" height="48px" />
      </div>

      <a class="btn_clear btn_block" aria-label="Write email message" href="mailto:hicugi@gmail.com">
        <span class="ico ico_envelope"></span>
      </a>
    </div>
  </header>

  <main>
    <section class="section-main">
      <div class="section-main__bg">
        <picture>
          <source media="(min-width: 3840px)" srcset="assets/css/imgs/main/background--4k.jpg" />
          <source media="(min-width: 2880px)" srcset="assets/css/imgs/main/background--3k.jpg" />
          <source media="(min-width: 1440px)" srcset="assets/css/imgs/main/background--1k.jpg" />
          <source media="(min-width: 1024px)" srcset="assets/css/imgs/main/background--xl.jpg" />
          <source media="(min-width: 768px)" srcset="assets/css/imgs/main/background--lg.jpg" />
          <source media="(min-width: 440px)" srcset="assets/css/imgs/main/background--md.jpg" />
          <img src="assets/css/imgs/main/background--sm.jpg" alt="Background" />
        </picture>
      </div>

      <div class="section-main__container container" align="center">
        <div class="section-main__info">
          <h1>Mag @hicugi</h1>
          <p>web developer</p>
        </div>
      </div>

      <div class="section-main__arrow">
        <button class="btn_clear" type="button" aria-label="Go to portfolio" @click="onScrollTo('#catalogSection')">
          <span class="ico ico_arrow ico_arrow_down"></span>
        </button>
      </div>
    </section>

    <section id="catalogSection" class="section-catalog">
      <div class="container">
        <h2 class="section__title" align="center">Portfolio</h2>
        <ul class="catalog__items">{{ catalog }}</ul>
        <ul id="catalogMoreItems" class="catalog__items" style="display: none"></ul>

        <div id="catalogLoading" class="loading" style="display: none"></div>
        <div id="catalogMore" class="catalog-btn"><button class="btn btn_info">More</button></div>
      </div>
    </section>
  </main>

  <footer class="app-footer">
    <div class="container">
      <div class="footer__container">
        <div class="logo">
          <img class="logo__img" src="assets/img/logo-mini.svg" alt="Logo" width="27px" height="24px" />
        </div>
        <ul class="socnets">{{ contacts }}</ul>
      </div>
    </div>
  </footer>

  <script src="assets/js/scripts.js?{{ timestamp }}"></script>
</body>

</html>
