@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  src: url("fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Light";
  font-weight: 200;
  src: url("fonts/RobotoCondensed-Light.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  src: url("fonts/RobotoCondensed-Bold.woff") format("woff");
}

:root {
  --color-info: #ff304f;
  --color-default: #444;
  --color-loading: #ff304f;

  --font-regular: "RobotoCondensed-Regular";
  --font-light: "RobotoCondensed-Light";
  --font-bold: "RobotoCondensed-Bold";

  --header-height: 70px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: var(--color-default);
  font-family: var(--font-light);
  font-size: 14px;
  line-height: 1.25em;
}

main {
  min-height: calc(100vh - 50px);
  padding-bottom: 80px;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo__img {
  display: block;
}

.btn_info {
  display: inline-block;
  padding: 0 40px;
  border: none;
  font-size: 14px;
  line-height: 34px;
  background-color: var(--color-info);
  color: #fff;
}
.btn_clear {
  padding: 0;
  background: none;
  border: none;
}

.socnets {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.socnets > li + li {
  margin-left: 10px;
}

.loading {
  height: 260px;
  z-index: 0;
  position: relative;
}
.loading::before {
  width: 86px;
  height: 86px;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid;
  border-color: transparent transparent transparent var(--color-loading);
  border-radius: 100%;
  content: "";
  animation: linear 0.8s kyeLoading infinite;
}
@keyframes kyeLoading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.app-header {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.app-header__container {
  height: var(--header-height);
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.app-footer {
  background-color: #151515;
}
.footer__container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-main {
  z-index: 0;
  position: relative;
  height: 100vh;
  max-height: 740px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.section-main::before {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.7;
  content: "";
}

.section-main__container {
  height: 100%;
  padding-top: var(--header-height);
  display: grid;
  align-items: center;
}

.section-main__container > * {
  z-index: 3;
}

.section-main__bg {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.section-main__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
  object-fit: cover;
}

.section-main__info h1 {
  margin: 0 0 0.5em;
  font-size: 42px;
  font-family: var(--font-regular);
  font-weight: normal;
  line-height: 1.25em;
}
.section-main__info p {
  font-size: 1.5em;
}

.section-main__arrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  animation: ease-out 3s infinite sectionMainArrow;
}
@keyframes sectionMainArrow {
  0% {
    transform: translate(-50%, 0%);
  }
  10% {
    transform: translate(-50%, 30%);
  }
  20% {
    transform: translate(-50%, 0%);
  }
}

.section-catalog {
  padding-top: 50px;
}
.catalog__items {
  --gap: 24px;

  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: var(--gap);
  row-gap: var(--gap);
  list-style: none;
}
.catalog__items + .catalog__items {
  margin-top: var(--gap);
}
@media (max-width: 779px) {
  .catalog__items {
    --gap: 20px;
  }
}

.catalog__item {
  background-color: #fff;
}
.catalog__item a {
  color: inherit;
  text-decoration: none;
}

.catalog__item__image {
  padding-top: 56.25%;
  position: relative;
  display: block;
  background: no-repeat center top;
  background-size: cover;
  border: 2px solid #fff;
}
.catalog__item__image picture,
.catalog__item__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.catalog__item__header {
  height: 70px;
  padding: 15px 15px 0;
}

.catalog__item__header h3 {
  margin-top: 0;
  margin-bottom: 6px;
  font-family: var(--font-bold);
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.catalog__item__subtitle {
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.catalog__item__body {
  padding: 0 15px 15px;
}

.catalog__item__description {
  height: 34px;
  white-space: pre-wrap;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.25em;
}

.catalog-btn {
  padding-top: 30px;
  text-align: center;
}

.ico {
  width: 32px;
  height: 32px;
  display: block;
  background: no-repeat center;
  background-size: 80%;
}
.ico_envelope {
  background-image: url("imgs/ico/envelope.svg");
}
.ico_arrow {
  position: relative;
}
.ico_arrow::before {
  width: 50%;
  height: 50%;
  border: 2px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: 0% 0%;
  content: "";
}
.ico_arrow_down::before {
  margin-top: -2px;
  border-color: transparent transparent #fff #fff;
}
.ico_arrow_right::before {
  border-color: transparent #fff #fff transparent;
}

.ico_socnet {
  width: 24px;
  height: 24px;
  color: transparent;
  overflow: hidden;
}
.ico_twitter {
  background-image: url("./imgs/ico/socnet_twitter.svg");
}
.ico_gitlab {
  background-image: url("./imgs/ico/socnet_gitlab.svg");
}
.ico_github {
  background-image: url("./imgs/ico/socnet_github.svg");
}
