<section class="secn-header v3">
  <div class="imga" style="background-image:url('{{page.image}}');"></div>
  <div class="container">
    <div>
      <h1 class="t-h1 v2">{{page.description ? page.description : page.title}}</h1>
      <p class="t-h1-sub">{{page.longtitle}}</p>
    </div>
  </div>
</section>
<section class="secn-content">
  <div class="container">
    <div class="d-wrap text-center" ng-bind-html="page.content"></div>
  </div>
</section>
<section class="secn-catalog">
  <div class="container">
    <ul class="u-catalog3">
      <li ng-repeat="v in page.items">
        <div class="catalog-item2"><a ng-href="catalog/fatoil/category/product.html"></a>
          <div class="imgb">
            <div class="imga" ng-style="{ 'background-image': v.thumb2 &amp;&amp; 'url(&quot;'+v.thumb2+'&quot;)' }"></div>
          </div>
          <h4>{{v.title}}</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="secn-slider2" ng-if="page.recipies[0]">
  <div class="container text-center">
    <h2>Полезные рецепты</h2>
    <h3>Готовьте с нами</h3>
  </div>
  <div class="slider v3 text-center">
    <div class="container"><a class="btnArrow slider-arrow slider-prev" ng-click="slider.slide('recepts'+page.id+'' ,'prev')"></a><a class="btnArrow slider-arrow slider-next" ng-click="slider.slide('recepts'+page.id+'' ,'next')"></a></div>
    <div class="slider-items">
      <div class="slider-item d{{ slider.getClass('recepts'+page.id+'' ,$index)+1 }}" ng-repeat="v in page.recipies" ng-init="$index == 0 &amp;&amp; slider.init({ key: 'recepts'+page.id+'' ,items: page.recipies ,step: 1 })">
        <div class="imga" ng-style="{ 'background-image': v.shareImage &amp;&amp; 'url('+v.shareImage+')' }"></div>
        <div class="container">
          <div>
            <h2>{{v.title}}</h2>
            <p>{{v.introtext}}</p>
            <div class="d-btn"><a class="btn btn-more" ng-href="{{v.uri}}">Подробнее</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="secn-slider3" ng-if="page.articles[0]">
  <div class="container text-center">
    <h2>Полезные статьи</h2>
    <h3>Узнайте больше</h3>
    <div class="slider v2"><a class="btnArrow slider-arrow slider-prev" ng-click="slider.slide('articles'+page.id+'' ,'prev')"></a><a class="btnArrow slider-arrow slider-next" ng-click="slider.slide('articles'+page.id+'' ,'next')"></a>
      <div class="slider-items">
        <div class="slider-item d{{ slider.getClass('articles'+page.id+'' ,$index)+1 }}" ng-repeat="v in page.articles" ng-init="$index == 0 &amp;&amp; slider.init({ key: 'articles'+page.id+'' ,items: page.articles ,step: 3 ,stepXs: 1 })">
          <div class="imgb">
            <div class="imga" ng-style="{ 'background-image': v.image ? 'url('+v.image+')' : '' }"></div><a href="{{v.uri}}"></a>
            <h4>{{v.title}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
